<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fulfillment</title>
  <meta charset="utf-8">
</head>
<body>

<!--Loading Image -->
<div id="loadingImage" *ngIf="!isEmailBodyGenerated" class="LockOn"
     style="display: flex;justify-content: center; align-items: center;">
  <div style="background-color:white;text-align:center; padding:15px;">
    <img height="120px" width="120px" src="/src/assets/Loading1.gif"/> <br>
    Please wait as we are creating CRM and generating the email
  </div>
</div>
<!--End Loading Image -->

<!--Loading popup for email sent-->
<div id="emailSentPopup" *ngIf="isEmailSent" class="LockOn"
     style="display: flex;justify-content: center; align-items: center;">
  <div style="background-color:white;text-align:center; padding:15px;">
    <img height="20px" width="20px" src="/src/assets/tick.jpg"/>
     Email Sent Successfully

    <div>
      <br/>
      <button type="submit" class="btn btn-light" (click)="refresh()">Ok</button>
    </div>
  </div>
</div>
<!--End popup for email sent-->

<div class="container-fluid" style="padding: 0% 5%">
  <div>
    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="http://yell.com">
        <img src="src\assets\image2vector.svg" style="padding:" height="51" width="177" alt="Yell">
      </a>
      <div>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Administrator
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </nav>
    <hr color="#ffd100" style="border-top: 4px solid #ffd100" noshade>
  </div>
  <h3 style="text-align: center">Yell CRM Fulfilment Application</h3>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#" ><b>Create Account</b></a>
    </li>
  </ul>
  <div class="row">
    <!--Box 1-->
    <div style="padding:2rem;" class="col">
      <div style="padding-bottom:10px;"><img height="25px" width="20px" src="/src/assets/Picture1.png"/> Enter Customer Information to create CRM account and prepare email</div>
      <form [formGroup]="fullFillmentForm" (ngSubmit)="onFormSubmit()">
        <div class="form-group row row form-group required">
          <label class="col-sm-3 col-form-label col-form-label-sm control-label" for="company">Company Name</label>
          <div class="col-sm-6">
            <input type="company" class="form-control form-control-sm " id="company" formControlName="company"
                   placeholder="Enter company" name="company">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm" for="order">Order Id</label>
          <div class="col-sm-6">
            <input type="order" class="form-control form-control-sm" id="order" formControlName="order"
                   placeholder="Enter Order Id"
                   name="order">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm" for="fname">First Name</label>
          <div class="col-sm-6">
            <input type="order" class="form-control form-control-sm" id="fname" formControlName="fname"
                   placeholder="Enter First Name"
                   name="fname">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm" for="lname">Last Name</label>
          <div class="col-sm-6">
            <input type="order" class="form-control form-control-sm" id="lname" formControlName="lname"
                   placeholder="Enter Last Name"
                   name="lname">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm" for="lname">Zip Code</label>
          <div class="col-sm-6">
            <input type="order" class="form-control form-control-sm" id="zip" formControlName="zip"
                   placeholder="Enter Zip Code"
                   name="zip">
          </div>
        </div>
        <div class="form-group row form-group required">
          <label class="col-sm-3 col-form-label col-form-label-sm control-label" for="email">Email Address</label>
          <div class="col-sm-6">
            <input type="order" class="form-control form-control-sm" id="email" formControlName="email"
                   placeholder="Enter Email"
                   name="email">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm" for="address">Address</label>
          <div class="col-sm-6">
            <input type="order" class="form-control form-control-sm" id="address" formControlName="address"
                   placeholder="Enter Address" name="address">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm" for="phone">Phone Number</label>
          <div class="col-sm-6">
            <input type="order" class="form-control form-control-sm" id="phone" formControlName="phone"
                   placeholder="Enter Phone"
                   name="phone">
          </div>
        </div>

        <button type="submit" [disabled]="showPreview" class="btn btn-light">Create CRM</button>

      </form>
    </div>
    <!--end Box 1-->

    <!--Box 2-->
    <div style="padding:2rem" class="col">
      <!--<textarea ng-model="myTextarea" ></textarea>-->
      <div style="padding-bottom:10px;"> <img height="25px" width="20px" src="/src/assets/Picture2.png"/> Review email and click to send email with access credentials to the customer
      </div>
      <div
        style="border-style: solid; border-color: lightgrey;display: flex;justify-content: center; align-items: center; min-height: 80%">
        <h5 *ngIf="!showPreview" style="color:lightgrey">EMAIL NOT GENERATED. NO PREVIEW AVAILABLE</h5>
        <div *ngIf="showPreview" [innerHTML]="email"></div>
      </div>
      <!--<div style="text-align: center;">EMAIL NOT GENERATED. NO PREVIEW AVAILABLE</div>-->
      <div style="float:right; padding-top: 1rem;">
        <button type="submit" [disabled]="!showPreview" class="btn btn-light" (click)="sendEmailFor(email)">Send Email
        </button>
      </div>
    </div>
    <!--end Box 2-->

  </div>
</div>

</body>
</html>
